[Desktop Entry]
Name=Arduino IDE
Exec=arduino-ide
Icon=cc.arduino.arduinoide
Comment=Arduino IDE v2 on Flathub
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;
StartupWMClass=jetbrains-studio
